
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

div.dropdown div.item:first-child {
    font-weight: 600!important;
}
.character-modal .modal-header { display: none; }
.character-modal .modal-footer { border-top: none; }
@media screen and (min-width: 767px ){
    .character-modal .modal-container {
        width: 440px !important;
    }
}